.pageOption {
  overflow: hidden;
  position: relative;
  width: 600px; height: 405px;
}
.option, .option img { width: 100%; height: 100%; object-fit: cover; }
.option {
  overflow: hidden;
  position: absolute;  
  transform: skewX(-55.98deg);
}
.option:first-child {
  left: -.25px;
  transform-origin: 100% 0;
}
.option:last-child {
  right: -.25px;
  transform-origin: 0 100%;
}
.option img {
  transform: skewX(55.98deg);
  transform-origin: inherit;
}
